@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');

/*Edição da barra de rolagem*/
::-webkit-scrollbar {
    height: 0px;
    width: 7px ;
    width: transform 0.3s ease;
}
::-webkit-scrollbar:hover {
    width: 13px;
}
::-webkit-scrollbar-track {
    background: #456031;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(#3e2a04, #604916, #886a30);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #3C593D, #438E46, #9FD873);
    font-family: arial;
    flex-wrap: wrap;
    overflow-x: hidden;
}

/*Estilo do Cabeçalho*/
.cabecalho{
    display: flex;
    position: fixed;
    color: white;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 10px;
    background: linear-gradient(to right, #3C593D, #438E46, #9FD873);
    top: 0;
    z-index: 9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.logo{
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
}

nav{
    margin-right: 40px;
}

/*Botões do Cabeçalho*/
button{
    background: none;
    border: none; 
}

.links, .entrar{
    padding: 3px;
    margin-left: 40px;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.entrar{
    border: 2px solid white;
    padding: 3px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.entrar:hover{
    border-color: rgb(218, 159, 9);
    color: rgb(218, 159, 9);
    text-decoration: none;
}

.links:hover{
    color: rgb(218, 159, 9);
    transform: scale(1.2);
    text-decoration: none;
}

/*Parte do Carrossel*/
main{
    position: relative;
    display: flex;
    justify-content: end;
    align-content: center;
    height: 80vh;
    height: 80dvh;
    margin-top: 30px;
}

/*Textos do Carrossel*/
.texto1, .texto2, .texto3{
    position: absolute;
    left: 15%;
    color: white;
    top: 25%;
    z-index: 9;
}

/*Linhas individuais dos textos*/
.l1, .l2, .l3{
    font-size: 60px;
    z-index: 1;
}

/*Palavras em destaque*/
.amarelo{
    font-size: 60px;
    color: #DD974E;
}

/*Fotos do carrossel*/
.foto1, .foto2, .foto3{
    position: relative;
    filter: opacity(70%);
}

/*Divs dos slides*/
.carousel-item{
    display: flex;
    justify-items: end;
    z-index: 0;
}

/*Parte onde fica as dietas*/
.pratos{
    position: relative;
    height: 280vh;
}

/*Todos os elementos de dentro*/
.conteudo{
    display: flex;
    background: white;
    height: 280vh;
    border-radius: 50px;
    margin-left: 3vw;
    margin-right: 3vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.conteudo > section{
    margin: 20px;
    height: 30%;
    width: 90%;
}

/*Divs separadas*/
.perderpeso, .manterpeso, .ganharpeso{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Imagens dos pratos*/
.img-perder, .img-manter, .img-ganhar{
    width: auto;
    max-width: 100%;
    height: auto;
    transform: scale(1.05);
    transition: transform 1s ease;
}

.img-perder:hover, .img-manter:hover, .img-ganhar:hover{
    transform: scale(1.15);
}

/*Todos os textos*/
.tt-perder, .tt-manter, .tt-ganhar{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    color: #56681B;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

/*Somente os titulos*/
.t-perder, .t-manter, .t-ganhar{
    font-family: 'League Spartan'200, sans-serif;
    font-size: 60px;
    font-weight: 700;
    
    
}

/*Somente os paragrafos*/
.p-perder, .p-manter, .p-ganhar{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/*Parte das Dúvidas*/
.sobre{
    display: flex;
    height: 85vh;
    font-family: 'DM Sans';
    justify-content: center;
    align-items: center;
}

.fundo-duvidas{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(35px);
    z-index: -1;
}

.duvidas{
    background-color: white;
    position: relative;
    top: 65px;
    width: 27%;
    height: 60%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;

}

.ft-ddv{
    display: flex;
    justify-content: center;
}

.foto-ddv{
    border: 4px solid white;
    border-radius: 1000px;
}


.foto-ddv{
    width: 100px;
    height: 100px;
}

.ddv{
    display: flex;
    margin: 15px;
    width: 80%;
    position: relative;
    top: -50px;
    flex-direction: column;
}

.texto-ddv{
    width: 100%;
    height: 100%;
}

.ddv h4{
    font-size: 20px;
    color: #886a30;
}

.ddv p{
    font-size: 13px;
    color: #886a30;
}


footer {
    background: linear-gradient(to right, #3e2a04, #604916, #886a30);
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}


@media only screen and (max-width: 982px){
    .tt-perder, .tt-manter, .tt-ganhar{
        transform: scale(0.85);

    }

    .img-perder, .img-manter, .img-ganhar{
        min-height: 50%;
    }
}

@media only screen and (max-width: 900px){
    .perderpeso, .manterpeso, .ganharpeso{
        flex-direction: column;
    }

    .img-perder, .img-manter, .img-ganhar{
        min-height: 50%;
        max-height: 50%;
    }

    .manterpeso{
        flex-direction: column-reverse;
    }

    .tt-perder, .tt-manter, .tt-ganhar{
        width: 100%;
        max-height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(0.7); 
    }

    main{
        justify-content: center;
        justify-items: center;
    }

    .carousel-item{
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    .texto1, .texto2, .texto3{
        left: 6%;
        transform: scale(0.8);
    }

    .ddv p{
        font-size: 11px;
    }
}

@media only screen and (max-width: 800px){
    .ddv p{
        font-size: 10px;
    }
}

@media only screen and (max-width: 617px){
    button{
        display: none;
    }

    .entrar{
        display: inline;
    }

    .textosobre > p{
        font-size: small;
    }

    .tt-perder, .tt-manter, .tt-ganhar{
        transform: scale(1);
        width: 80%;
    }

    .t-perder, .t-manter, .t-ganhar{
        font-size: 35px;
    }

    .p-perder, .p-manter, .p-ganhar{
        font-size: 75%;
    }

    .foto1, .foto2, .foto3{
        position: relative;
        width: auto;

        img{
            display: flex;
            justify-items: center;
            justify-content: center;
            height: 100%;
            width: auto;
            position: relative;
            left: -230px;
        }
    }

    .sobre{
        flex-direction: column;
        overflow: hidden;
    }

    .duvidas{
        width: 100%;
        transform: scale(0.75);
        margin: 0;
        height: 30%;
        align-items: center;

    }

    .ddv{
        margin: 0;
        top: 0;
        flex-direction: row;

        align-items: center;
        height: 100px;
    }

    .ft-ddv{
        top: 0;
        position: relative;
        left: -20%;

    }

    .ddv p{
        font-size: 12px;
    }

    .texto-ddv{
        font-size: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 550px){
    .texto1, .texto2, .texto3{
        left: 0;
        transform: scale(0.6);
    }
}

@media only screen and (max-width: 404px){
    .textosobre > p{
        font-size: 10px;
    }
    
    .texto1, .texto2, .texto3{
        left: 0%;
        top: 15%;
        transform: scale(0.5);
    }
}

@media only screen and (max-width: 350px){
    .textosobre{
        max-height: 350px;
        overflow: hidden;
    }
}