@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to right, #3C593D, #438E46, #9FD873);
    color: white;
    font-family: arial;
    overflow: hidden;
}

img{
    top: 0;
    right: 0%;
    position: absolute;
    width: 100%;
    min-width: 1000px;
    min-height: 100vh;
    z-index: -9;
    filter: blur(5px);
    opacity: 0.6;
}

header{
    background: linear-gradient(to right, #3C593D, #438E46, #9FD873);
    display: flex;
    align-items: center;
    height: 80px;
    width: 100vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.logo{
    margin-left: 20px;
}

main{
    z-index: 0;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.areaform{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: white;
    width: 450px;
    min-width: 300px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    transform: scale(0.85);
}

.tt-form{
    display: flex;
    background: linear-gradient(to right, #3C593D, #438E46, #9FD873);
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    color: white;
}

.form{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

#myForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nome, .sobrenome, .idade, .sexo, .altura, .peso, .email, .senha{
    border-bottom: 1px solid black;
    margin: 10px;
    width: 350px;
    background: #ccc;
    height: 50px;
    display: flex;
    justify-content: center;

    label{
        position: absolute;
        left: 9%;
        transform: translateY(20%);
        pointer-events: none;
        transform: translateY(125%);
        transition: 0.15s ease;
    }

    select{
        width: 68.5%;
        position: absolute;
        right: 11%;
        transform: translateY(40%);
        border-color: transparent;
        background: none;
    }

    option{
        color: black;
    }

    input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        padding-top: 7px;
        font-size: 20px;
    }

    input[type="date"]::placeholder{
        color: transparent;
    }

    input[type="date"]{
        color: transparent;
    }

    input[type="date"]:focus, input[type="date"]:valid{
        color: black;
    }

    input:focus~label, input:valid~label{
        font-size: 0.8rem;
        transform: translateY(0%);
        color: #9FD873;
    }
}

.nomecompleto, .dadosnutri{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: start;
}

.nomecompleto > .nome, .nomecompleto > .sobrenome, .dadosnutri > .altura, .dadosnutri > .peso{
    width: 40%;
    background: #ccc;
    display: flex;

}

.sobrenome > label, .peso > label{
    position: relative;
    transform: translateY(20%);
    justify-items: start;
}

.botao1{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.botao{
    width: 70%;
    height: 55px;
    color: white;
    border: none;
    background: linear-gradient(to right, #3C593D, #438E46, #9FD873);
    font-size: 17px;
    font-family: arial;
    border-radius: 20px;
}

#sexo{
    border-radius: 6px;
    height: 33px;
    border: 1.6px solid;
    border-color: #ccc;
}

input:focus{
    border-color: #9FD873;
    outline: none;
}

#data:focus, #sexo:focus{
    border-color: #9FD873;
    outline: none;
}

label{
    margin-left: 4px;
}

.nome, .sobrenome, #data, #sexo, .altura, .peso, .email, .senha{
    margin: 4px;
}

@media only screen and (min-height: 800px){
    main{
        position: relative;
        align-items: center;
    }

    .areaform{
        max-width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        transform: scale(0.7);
        top: -40px;
    }

    .tt-form{
        top: 0;
    }
}

@media only screen and (max-width: 431px){

    .form{
        margin: 0;
    }

    .nome, .sobrenome, .idade, .sexo, .altura, .peso, .email, .senha{
        width: 300px;
        margin: 1px;
    }

    .areaform{
        transform: scale(0.8);
        padding: 0;
        margin: 0;
    }

    .tt-form{
        height: 50px;
        top: 0;
    }

    .nomecompleto, .dadosnutri{
        flex-direction: column;
    }
}